/* Stile pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2vh;
    font-weight: 600;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10vh 0;
}

/* Stile bottoni */
.button {
    display: inline-block;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    padding: 0 2%;
    border-radius: 30px;
    margin: 0 1vw;
}


/* Stile header */
header {
    background-color: #255ee9;
}

/* Stile barra di navigazione */
#nav-bar {
    height: 15vh;
    text-align: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#nav-bar .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#nav-bar .login {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);     
    color: #000;
    background-color: #fff;
}

#nav-bar ul {
    list-style-type: none;
    display: inline-block;  
    height: 15vh;
    line-height: 15vh;
    vertical-align: middle;  
}

#nav-bar ul li {
    display: inline-block;
}

#nav-bar ul li a {
    text-decoration: none;
    margin-right: 2vw;
    color: #fff;
}

/* Stile hero */
#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 65vh;
    width: auto;
}

#hero-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 7%;
    position: relative;
}

#hero-text h1 {
    font-size: 3em;
    color: #fff;
}

#hero-text p {
    color: #fff;
    margin: 2em 0;
    line-height: 1.5em;
}

#hero-text .download {
    background-color: #fff;
    color: #000;
}

#hero-text .open {
    background-color: #23272a;
    color: #fff;
}

/* Stile contenuto */
.grey-back {
    background-color: #f6f6f6;
}

.margin {
    margin-right: 20%;
}

.side-img {
    float: left;
    width: 50%;;
}

.side-text {
    float: left;
    width: 30%;
    margin-top: 3%;
}

.container h2 {
    font-size: 3em;
}

.container p {
    margin-top: 3em;
    line-height: 1.5em;
}

.last {
    text-align: center;
}

.last img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.last h3 {
    line-height: 4em;
    font-size: 1.8em;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.last .download {
    background-color: #8ea1e1;
    color: #fff;
}

/* Stile footer */

footer {
    background-color: #23272a;
    color: #fff;
}

/* Stile colonne */
.big.column {
    float: left;
    width: 25%;
    margin-right: 10%;
}

.small.column {
    float: left;
    width: 15%;
}

.big.column h3 {
    font-size: 2em;
    color: #7289da;
    margin-bottom: 4vh;
}

.big.column img {
    height: 1em;
    width: auto;
    object-fit: contain;
}

.social{
    margin-top: 4vh;
}

.social a {
    color: #fff;
    font-size: 2em;
    margin-right: 10%;
}

.small.column ul {
    list-style-type: none;
}

.small.column ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 2em;
}

.small.column ul > :first-child a {
    color: #7289da;
}

footer  .container {
    padding-bottom: 5vh;
    border-bottom: 1px solid #7289da;
}

/* Parte finale footer */
#end {
    height: 25vh;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#end .logo {
    position: absolute;
    left: 0;
    top: 20%;
}

#end .signin {
    position: absolute;
    right: 0;
    top: 20%;   
    color: #fff;
    background-color: #7289da;
}